# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*
!.env.example

# Jupyter
.ipynb_checkpoints/

# ML models
*.pkl

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Tests / coverage
.coverage
htmlcov/
.pytest_cache/

# Database
*.db
*.sqlite3

# FastAPI
.cache/

# Flutter
frontend/.dart_tool/
frontend/.packages
frontend/.pub-cache/
frontend/.pub/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/android/.gradle/
frontend/android/local.properties
frontend/ios/Pods/
frontend/ios/.symlinks/
frontend/macos/Flutter/ephemeral/
frontend/linux/flutter/ephemeral/
frontend/windows/flutter/ephemeral/
frontend/.metadata
